@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    bottom: 0;
    font-family: 'Montserrat-VariableFont_wght', sans-serif;

}

p {
    margin: 0;
}

a {
    text-decoration: none;

}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.defultText {
    font-size: 20px;
    font-weight: 500;
}

.textChapter {
    color: black;
    font-size: 64px;
    font-weight: 700;
}